
[Unit]
Description=EagleEye service

[Service]
User=root
ExecStart=/home/Rajesh/Documents/jetson-uav/process.sh

[Install]
WantedBy=multi-user.target
